header {
  text-align: left;
}

input[type="text"] {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  line-height: 28px;
}

button {
  padding: 1em 1.5em;
  border-radius: 4px;
  background: none;
  border: none;
}

button[type="submit"] {
  background: #eeeeee;
  color: black;
}

.buttons {
  margin-top: 32px;
}

.color-wrapper {
  display: inline-block;
  position: relative;
  width: 48px;
}

.color-wrapper label {
  position: absolute;
  top: -7px;
  left: 0px;
  border-radius: 4px;
}

.check {
  margin-left: 4px;
  color: #4caf50;
}

button.ready {
  background: #4caf50;
  color: white;
}

input:checked + label {
  border: 2px solid white;
}

input:checked + label {
  border-color: #4caf50;
}
