.note {
  max-width: 160px;
  /* position: relative; */
  padding: 16px;
  float: left;
  /* height: inherit; */
  color: white;
  word-break: break-all;
  border-radius: 4px;
  margin: 4px;
}

.action {
  position: absolute;
  top: 4px;
  opacity: 0.3;
}
.action:hover {
  cursor: pointer;
  opacity: 1;
}

.delete {
  right: 4px;
}

.edit {
  left: 4px;
}
