@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --success: #4caf50;
}

* {
  box-sizing: border-box;
}

html * {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

.column {
  float: left;
  width: 50%;
  padding: 16px;
  min-height: 100vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.my-notes {
  background: #e2b387 url("./cork.jpg") repeat;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    min-height: 50vh;
  }
}
